.elementor-kit-10{--e-global-color-primary:#4054b2;--e-global-color-secondary:#a6d5a1;--e-global-color-text:#c1dd78;--e-global-color-accent:#82d0dc;--e-global-typography-primary-font-family:"Poppins";--e-global-typography-primary-font-weight:600;--e-global-typography-secondary-font-family:"Poppins";--e-global-typography-secondary-font-weight:400;--e-global-typography-text-font-family:"Poppins";--e-global-typography-text-font-weight:400;--e-global-typography-accent-font-family:"Poppins";--e-global-typography-accent-font-weight:500}.elementor-section.elementor-section-boxed>.elementor-container{max-width:1140px}.elementor-widget:not(:last-child){margin-bottom:20px}{}h1.entry-title{display:var(--page-title-display)}@media(max-width:1024px){.elementor-section.elementor-section-boxed>.elementor-container{max-width:1024px}}@media(max-width:767px){.elementor-section.elementor-section-boxed>.elementor-container{max-width:767px}}
/*
     FILE ARCHIVED ON 03:26:41 Oct 22, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:26:42 Dec 15, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 787.075
  exclusion.robots: 0.07
  exclusion.robots.policy: 0.06
  cdx.remote: 0.058
  esindex: 0.011
  LoadShardBlock: 64.634 (3)
  PetaboxLoader3.datanode: 90.491 (5)
  load_resource: 133.555
  PetaboxLoader3.resolve: 58.993
  loaddict: 59.83
*/